<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= user.username %> | Your Feed
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <div class="bg-white dark:bg-gray-800 h-screen h-full py-6 sm:py-8 lg:py-12">
        <div class="mx-auto bg-gray-800 max-w-screen-2xl px-4 md:px-8">
            <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
                <div class="flex items-center gap-12">
                    <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl dark:text-white">Welcome <b
                            class="text-rose-500">
                            <%= user.username %>
                        </b>
                    </h2>

                    <p class="hidden max-w-screen-sm text-gray-500 dark:text-gray-300 md:block">
                        This is a section of some simple filler text,
                        also known as placeholder text. It shares some characteristics of a real written text.
                    </p>
                </div>

                <a href="/profile"
                    class="inline-block rounded-lg border bg-white dark:bg-gray-700 dark:border-none px-4 py-1 text-center text-sm font-semibold text-gray-500 dark:text-gray-200 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-800 focus-visible:ring active:bg-gray-200 md:px-8 md:py-3 md:text-base">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    &nbsp;<%= user.fullname %>
                </a>
            </div>

            <div class="grid grid-cols-2 gap-5 sm:grid-cols-3 md:gap-6 xl:gap-8">
                <!-- image - start -->
                <% posts.forEach(function(elem){ %>
                    <a href="#"
                        class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80">
                        <img src="/images/uploads/<%= elem.image %>" loading="lazy" alt="Photo by Minh Pham"
                            class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

                        <div
                            class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
                        </div>

                        <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">
                            <%= elem.title %>
                        </span>
                    </a>
                    <%})%>
            </div>
        </div>
    </div>

</body>

</html>
